// @import "~taro-ui/dist/style/components/button.scss";

.index {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-30%);
  .tab {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
    box-sizing: border-box;
  }
  .content {
    height: 80px;
    margin-top: 40px;
    padding: 0 40px;
    box-sizing: border-box;
    .input {
      flex: 1;
      height: 100%;
      padding: 0 40px 0 50px;
      margin: 0;
      border-radius: 50px 0 0 50px;
      &:before {
        content: '';
        width: 30px;
        height: 30px;
        background-image: url('../../static/images/seearch.png');
      }
    }
    .search-btn {
      height: 80px;
      padding: 0 40px;
      border-radius: 0 50px 50px 0;
    }
  }
}
