page {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f8f8f8;
  font-size: 0;
}

.relative {
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.font-14 {
  font-size: 28px;
}
.font-16 {
  font-size: 32px;
}

.color-fff {
  color: #fff;
}

.bg-fff {
  background-color: #fff;
}
.bg-6A5 {
  background-color: #6A5ACD;
}

.head-style {
  width: 76px;
  height: 76px;
  border-radius: 8px;
}
